# COPIAR ESTE ARCHIVO A .env Y COMPLETAR LOS VALORES
# cp .env.example .env

NODE_ENV=sandbox
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7TAPI001
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYTAPIKEY001
AWS_ENDPOINT_URL=http://localhost:4566

DYNAMODB_TABLE_REGISTROS=tapi-registros
DYNAMODB_TABLE_RESULTADOS=tapi-resultados
DYNAMODB_TABLE_LOCKS=tapi-locks

SQS_QUEUE_URL=http://localhost:4566/000000000000/tapi-jobs.fifo
SQS_DLQ_URL=http://localhost:4566/000000000000/tapi-jobs-dlq.fifo
SQS_BATCH_SIZE=10
SQS_VISIBILITY_TIMEOUT=300

INTERNAL_API_BASE_URL=http://localhost:4566/_localstack/mock
INTERNAL_API_TIMEOUT_MS=30000
INTERNAL_API_MAX_RETRIES=3

SCHEDULER_BATCH_SIZE=41667
SCHEDULER_HOURS=24
LOG_LEVEL=debug
LOCK_TTL_SECONDS=300
